
#mainContainer {
  margin-top: 5rem;

  Table {
    margin-bottom: 2rem;
  }
  #quizForm{
    margin: 5rem 20rem;

      .fragrancebtn{
          width: 20rem;
          margin-bottom: 0.5rem;
    }
  }
}
